* {
  padding: 0;
  margin: 0;
  font-family: "Balsamiq Sans", cursive;
}

.page {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #82C4D2;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgba(111,167,180 , 1);
}

.logo {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 25px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 17px;
}

.nav-links a:hover {
  font-size: 19px;
  font-weight: bold;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color:rgba(111,167,180 , 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.bodydown {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container{
  width:325px;
  display: flex;
  justify-content:center;
  align-items:center;
  margin-top: 50px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
  padding:2em;
  border-radius: 30px;
  background-color:rgba(255, 255, 255, 0.349);
}
.form-group{
  margin-bottom:1.5em;
  transition:all .3s;
}
.form-label{
  font-size:.75em;
  color: #555;
  display:block;
  opacity:0;
  transition: all .3s;
  transform:translateX(-50px);
}
.form-control{
  box-shadow:none;
  border-radius:5px;
  border-color:#ccc;
  border-style:none none solid none;
  width:100%;
  font-size:1.25em;
  transition:all .6s;
}
.form-control::placeholder{
  color:#aaa;
}
.form-control:focus{
  box-shadow:none;
  border-color: orange;
  outline:none;
}
/* .form-group:focus-within{
  transform:scale(1.1,1.1);
} */

.form-control:invalid:focus{
  border-color:#82C4D2;
}
.form-control:valid:focus{
  border-color:#82C4D2;
}

.btn{
  background: 0 0 #fff;
  border:1px solid #aaa;
  border-radius:3px;
  color: #555;
  font-size:1em;
  padding:10 50px;
  text-transform:uppercase;
}
.btn:hover{
  border-color: #82C4D2;
  color: #82C4D2;
}
textarea{
  resize:none;
}



.focused > .form-label{
  opacity:1;
  transform:translateX(0px);

}